*{padding: 0;margin: 0;list-style: none}

  .box{
    zoom:1;
  }
  .box:after{
    content: '';
    display: block;
    clear: both;
  }

#OrderTop{
width: 100%;
height:2.8125rem;
text-align: center;
}
#OrderTop img{
  float: left;
width:1.0rem;
height:0.875rem;
    margin-top: 0.9375rem;
    margin-left: 0.9375rem
}
#OrderTop p{
  display: inline-block;
  font-size: 18px;
  color: #3a3c40;
   margin-left: -0.9375rem;
   line-height:2.8125rem;
}

#OrderList{
width: 100%
}
#OrderList ul{
width: 100%
}
#OrderList ul li{
float: left;
width: 25%;
height:2.1875rem;
line-height: 2.1875rem;
text-align: center;
    font-size: 14px;
}

#Orderorder{
text-align: center;
height: 100%;
}












