.clear {
    zoom: 1;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}
*{list-style: none;text-decoration: none;margin:0;padding:0;}
a{color: #333;}
body{margin:0;padding: 0;}
header{height: 45px;width: 100%;background: #fff;line-height: 45px;text-align: center;box-shadow: 0 1px 3px 0 rgba(58,60,64,.05)}
.Tl_btn_index{width: 16px;height: 14px;background: url(../../../img/back_v5.png) no-repeat center;background-size: 16px;display: inline-block;margin-left:2.5%;float: left;margin-top: 4.2%;}
.Tl_h_title{font-size: 18px;text-align: center;color: #574324;margin-right: 2%;}
.Tl_disIndx{background:#f1f1f1;}
.Tl_discover_list{padding: 10px;}
.Tl_discover_list li{position: relative;margin-bottom: 10px;overflow: hidden;border-radius: 5px;}
.Tl_discover_list li img{width: 100%;}
.Tl_dis_title{position: absolute;top: 10px;left: 10px;line-height: 24px;color: #fff;z-index: 10;}
.Tl_dis_title span:first-child{font-size: 20px;display: block;}
.Tl_shade{position: absolute;width: 100%;height: 100px;background: url(../../../img/shade.png)left center repeat-x;background-size: contain;z-index: 9;}
.Tl_pin{position: absolute;display: inline-block;padding-left: 15px;background: url(../../../img/ico-discover-location.png)left center no-repeat;z-index: 100;line-height: 20px;right: 15px;top: 10px;color: #fff;font-size: 15px;background-size: 10px 14px;}

.Tl_expect_more{position: relative;height: 40px;line-height: 40px;text-align: center;}
.Tl_line{display: block;border-top: 1px solid #c5c5c5;position: absolute;width: 100%;top: 22px;z-index: 1;}
.Tl_expect_more img{position: relative;z-index: 2;width: 200px;vertical-align: middle;}